@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=VT323&display=swap');

:root {
  --font-space: 'Space Mono', monospace;
  --font-vt323: 'VT323', monospace;
  
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  /* text-transform: uppercase; */

  color-scheme: light dark;
  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 800px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
}

a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 0.6em 1.2em;
  font-size: 1.25em;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;

  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #64afff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

