.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.header { grid-column: 1 / -1; }
.sidebar { grid-column: 1 / 2; }
.gameBoard { grid-column: 2 / -1; }