.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5rem 0 2rem;
}

.daftPunkImage {
  width: 300px;
  height: auto;
}