.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin: 5rem 0 2rem;
}

.daftPunkImage {
  width: 333px;
  height: auto;
}

.loading,
.error {
  text-align: center;
  margin-top: 33%;
}
