.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  text-decoration: none;
}

.timer {
  background-color: black;
}

.topScore {
  background-color: black;
}