.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4.75rem;
  margin-top: 1rem;
}

.timer {
  font-size: 2rem;
}

.topScore {
  display: flex;
  font-size: 1.75rem;
}