.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #000; */
  width: 500px;
}

.scoreContainer {
  display: flex;
}

.title {
  font-size: 2.5rem;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.score {
  font-size: 2rem;
}