.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #000; */
  width: 500px;
}

.scoreContainer {
  display: flex;
}

.title {
  font-size: 2.25rem;
  margin: 3rem 0 1.25rem;
  text-decoration: underline;
  text-underline-offset: 14px;
  text-transform: uppercase;
}

.score {
  font-size: 1.75rem;
}