.searchArea {
  max-width: 100%;
  max-height: 85vh; /* Limits height to prevent overflow */
  overflow: auto;
  position: relative;
  border: 1px solid #101010;
}

.imageContainer {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
}

.img {
  width: 3000px; /* fixed width maintains desired zoom level */
  height: auto;
  display: block;
}

.clickMarker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid white;
  pointer-events: none; /* So it doesn't interfere with clicks */
  z-index: 1000;
}
