.title {
  margin: 1rem 0 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.artistName {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.found {
  text-decoration: line-through;
  color: #545454;
}

.credit {
  color: #bababa;
  margin-top: 2rem;
  font-size: 0.6rem;
}

.link {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #bababa;
}

.link:hover {
  color: #fff;
}