.title {
  margin: 1rem 0 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.artistName {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.found {
  text-decoration: line-through;
  color: darkgrey;
}