# Exclude everything by default
*

# Include necessary files and directories
!src/
!prisma/
!tsconfig*.json
!package.json
!package-lock.json
!.eslint.config.js

# Exclude node_modules even if parent directory is included
**/node_modules/
**/dist/
**/.git/